<?xml version='1.0' encoding='utf-8'?>
<widget id="tonisity.app" version="1.0.0">
  <name>Tonisity Total Program</name>
  <description>
    The Tonisity Total Program App 
  </description>
  <author email="maxime.cortyl@smile.fr">
    Maxime CORTYL
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
